#include "owindows.inc"
#include "ostddlgs.inc"
#include "rwpdemoc.pas"

men_Main MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New", cm_New
		MENUITEM "&Open...", cm_Open
		MENUITEM SEPARATOR
		MENUITEM "&Save", cm_Save, GRAYED
		MENUITEM "Save &as...", cm_SaveAs, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Print...", cm_Print, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "E&xit", cm_Exit
	END

	POPUP "&Edit"
	BEGIN
		MENUITEM "&Undo      Alt+Backspace", cm_EditUndo, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Cu&t         Shift+Del", cm_EditCut, GRAYED
		MENUITEM "&Copy      Ctrl+Ins", cm_EditCopy, GRAYED
		MENUITEM "&Paste     Shift+Ins", cm_EditPaste, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Cl&ear     ", cm_EditClear, GRAYED
		MENUITEM "D&elete", cm_EditDelete, GRAYED
	END

	POPUP "&Options"
	BEGIN
		MENUITEM "&Directories...", cm_Directories
		MENUITEM SEPARATOR
		POPUP "&Environment"
		BEGIN
			MENUITEM "&Preferences...", cm_Preferences
			MENUITEM "&Mouse...", cm_Mouse
		END

		MENUITEM SEPARATOR
		MENUITEM "&Open...", cm_Options_Open, GRAYED
		MENUITEM "&Save", cm_Options_Save, GRAYED
		MENUITEM "Save &as...", cm_Options_SaveAs, GRAYED
	END

	POPUP "&Window"
	BEGIN
		MENUITEM "&Tile", cm_TileChildren, GRAYED
		MENUITEM "&Cascade", cm_CascadeChildren, GRAYED
		MENUITEM "Arrange &icons", cm_ArrangeIcons, GRAYED
		MENUITEM "Close &all", cm_CloseChildren, GRAYED
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&Index               Shift+F1", cm_Index, GRAYED
		MENUITEM "&Topic Search    Ctrl+F1", cm_Topic_Search, GRAYED
		MENUITEM "&Glossary", cm_Glossary, GRAYED
		MENUITEM "Using &Help", cm_Using_Help, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&About RWPDemo...", 145
	END

END

dlg_Open DIALOG 5, 17, 165, 149
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Open"
FONT 8, "Helv"
BEGIN
	LTEXT "File &name:", -1, 5, 5, 38, 12
	CONTROL "", id_FName, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 46, 4, 111, 12
	LTEXT "Path:", -1, 8, 21, 16, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "", id_FPath, 29, 21, 127, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "&Files:", -1, 12, 32, 16, 8
	CONTROL "", id_FList, "LISTBOX", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 43, 70, 59
	LTEXT "&Directories", -1, 96, 33, 51, 9
	CONTROL "", id_DList, "LISTBOX", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 43, 70, 59
	CONTROL "Options", -1, "button", BS_GROUPBOX | WS_GROUP, 8, 105, 150, 22
	CONTROL "&Text", id_Text, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 17, 113, 37, 12
	CONTROL "&Scribble", id_Scribble, "BUTTON", BS_AUTORADIOBUTTON, 68, 113, 36, 12
	CONTROL "&Graph", id_Graph, "BUTTON", BS_AUTORADIOBUTTON, 118, 113, 35, 12
	CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP, 11, 130, 28, 14
	PUSHBUTTON "Cancel", IDCANCEL, 68, 130, 28, 14, BS_PUSHBUTTON | WS_TABSTOP
	PUSHBUTTON "Help", Id_help, 125, 130, 28, 14
END
dlg_Print DIALOG 35, 25, 163, 133
CAPTION "Print"
FONT 8, "Helv"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
BEGIN
	LTEXT "Copies:", -1, 5, 12, 28, 8, SS_LEFT
	CONTROL "", -1, "static", SS_BLACKFRAME, 35, 10, 16, 10
	CONTROL "", 211, "STATIC", SS_LEFT | WS_TABSTOP, 37, 11, 13, 8
	CONTROL " Pages ", -1, "button", BS_GROUPBOX | WS_GROUP, 4, 24, 155, 30
	CONTROL "&All", 212, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 36, 29, 28, 12
	CONTROL "&Partial", 213, "BUTTON", BS_AUTORADIOBUTTON, 36, 42, 35, 8
	LTEXT "From:", -1, 75, 42, 19, 8, SS_LEFT
	CONTROL "", 214, "static", SS_GRAYFRAME | WS_GROUP, 98, 41, 12, 10
	LTEXT "To:", -1, 114, 42, 16, 8, SS_LEFT
	CONTROL "", 215, "static", SS_GRAYFRAME, 134, 41, 11, 10
	LTEXT " Printers", -1, 3, 61, 31, 8, SS_LEFT
	CONTROL "", 216, "LISTBOX", LBS_STANDARD | WS_TABSTOP, 4, 70, 155, 39
	DEFPUSHBUTTON "P&rint", 217, 5, 114, 24, 14, WS_TABSTOP
	PUSHBUTTON "Printer &setup...", 218, 37, 114, 51, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 97, 114, 27, 14, WS_TABSTOP
	PUSHBUTTON "Help", Id_help, 133, 114, 24, 14, WS_TABSTOP
END

acc_Main ACCELERATORS 
BEGIN
	VK_BACK, 24325, VIRTKEY, ALT
	VK_DELETE, 24320, VIRTKEY, SHIFT
	VK_INSERT, 24321, VIRTKEY, CONTROL
	VK_INSERT, 24322, VIRTKEY, SHIFT
	VK_F1, 141, VIRTKEY, SHIFT
	VK_F1, 142, VIRTKEY, CONTROL
END




dlg_About DIALOG 85, 29, 121, 88
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About RWCDemo"
FONT 8, "Helv"
BEGIN
	CTEXT "Resource Workshop Demo", -1, 6, 5, 108, 11
	CTEXT "Copyright (c) 1992, Borland International", -1, 25, 49, 70, 16, WS_CHILD | WS_VISIBLE | WS_GROUP
	DEFPUSHBUTTON "OK", 1, 48, 69, 24, 14, BS_DEFPUSHBUTTON | WS_TABSTOP
	ICON ico_RWPDemo, -1, 52, 25, 16, 16, SS_ICON
END



dlg_Options_Directories DIALOG 11, 18, 177, 79
CAPTION "Directories"
FONT 8, "Helv"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
BEGIN
	LTEXT "&Scribble Directory", -1, 9, 5, 66, 10, SS_LEFT | WS_GROUP
	CONTROL "", ID_ScribbleDirectory, "COMBOBOX", CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP, 80, 4, 95, 32
	LTEXT "&Text Directory", -1, 9, 22, 64, 10, SS_LEFT | WS_GROUP
	CONTROL "", id_TextDirectory, "COMBOBOX", CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP, 80, 22, 95, 32
	LTEXT "&Graphics Directory", -1, 9, 40, 64, 8, SS_LEFT | WS_GROUP
	CONTROL "", id_GraphicDirectory, "COMBOBOX", CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP, 80, 40, 95, 32
	DEFPUSHBUTTON "OK", IDOK, 16, 61, 24, 14, BS_DEFPUSHBUTTON | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 68, 61, 26, 14, BS_PUSHBUTTON | WS_TABSTOP
	PUSHBUTTON "Help", id_help, 122, 61, 24, 14
END


dlg_Preferences DIALOG 13, 21, 210, 88
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Preferences"
FONT 8, "Helv"
BEGIN
	CONTROL " Desktop file ", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 7, 88, 52
	CONTROL "&None", 222, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 21, 19, 78, 10
	CONTROL "C&urrent directory", 223, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 21, 31, 78, 10
	CONTROL "Conf&ig file directory", 224, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 21, 43, 78, 10
	CONTROL " Autosave ", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 107, 7, 88, 52
	CONTROL "&Editor files", 225, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 112, 19, 60, 10
	CONTROL "En&vironment", 226, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 112, 31, 60, 10
	CONTROL "&Desktop", 227, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 112, 43, 60, 10
	CONTROL "&OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 28, 67, 37, 14
	PUSHBUTTON "&Cancel", IDCANCEL, 86, 67, 37, 14
	PUSHBUTTON "Help", Id_help, 144, 67, 37, 14
END


dlg_Mouse DIALOG 14, 19, 190, 97
CAPTION "Mouse"
FONT 8, "Helv"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
BEGIN
	CONTROL " Right mouse button ", -1, "button", BS_GROUPBOX, 8, 5, 77, 59
	CONTROL "&Nothing", 228, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 18, 19, 57, 12
	CONTROL "&Clear Window", 229, "BUTTON", BS_AUTORADIOBUTTON, 18, 33, 57, 12
	CONTROL "&Inverse Color", 230, "BUTTON", BS_AUTORADIOBUTTON, 18, 47, 57, 12
	LTEXT "&Mouse Click", -1, 93, 11, 90, 9
	CONTROL "Fast", -1, "STATIC", SS_LEFT, 95, 22, 16, 8
	CONTROL "Slow", -1, "STATIC", SS_LEFT, 161, 22, 16, 8
	CONTROL "", 231, "scrollbar", SBS_HORZ | WS_TABSTOP, 95, 32, 86, 10
	CONTROL "&Reverse mouse buttons", 232, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 97, 48, 90, 9
	DEFPUSHBUTTON "OK", IDOK, 11, 76, 30, 14, BS_DEFPUSHBUTTON | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 71, 76, 30, 14, BS_PUSHBUTTON | WS_TABSTOP
	PUSHBUTTON "Help", Id_help, 137, 76, 30, 14
END


RCDATA_1 RCDATA 
BEGIN
"\07\07Wake up!!\07\07\0"
, "\11Hello world"
, 25
0x05f
"\07"

END

CURSOR_1 CURSOR rwdemo.cur


ico_RWPDemo ICON rwdemo.ico








dlg_FileNew DIALOG 35, 23, 130, 129
CAPTION "New"
FONT 8, "Helv"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
BEGIN
	CONTROL "&Text", id_Text, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 41, 24, 41, 12
	CONTROL "&Scribble", id_Scribble, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 41, 44, 40, 12
	CONTROL "&Graphics", id_Graphics, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 41, 64, 41, 12
	CONTROL "", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 30, 12, 66, 74
	DEFPUSHBUTTON "OK", IDOK, 29, 102, 30, 14
	PUSHBUTTON "Cancel", IDCANCEL, 69, 102, 31, 14
END


1000 MENU 
BEGIN
	POPUP "Color"
	BEGIN
		MENUITEM "Red", cm_Red
		MENUITEM "Green", cm_Green
		MENUITEM "Blue", cm_Blue
	END

	POPUP "Width"
	BEGIN
		MENUITEM "Thin", cm_thin
		MENUITEM "Normal", cm_Normal
		MENUITEM "Thick", cm_thick
	END

END

1001 MENU 
BEGIN
	POPUP "Shape"
	BEGIN
		MENUITEM "Ellipse", cm_Circle
		MENUITEM "Rectangle", cm_Rectangle
	END

	POPUP "Color"
	BEGIN
		MENUITEM "Red", cm_red
		MENUITEM "Green", cm_Green
		MENUITEM "White", cm_ClearShape
	END

END












bmp_StatusBar BITMAP 
BEGIN
'42 4D 16 01 00 00 00 00 00 00 76 00 00 00 28 00'
'00 00 0A 00 00 00 14 00 00 00 01 00 04 00 00 00'
'00 00 A0 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 10 00 00 00 00 00 00 00 00 00 80 00 00 80'
'00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
'00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
'00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
'00 00 FF FF FF 00 88 88 88 88 88 08 88 00 77 7F'
'87 77 77 00 00 00 88 8F 87 88 88 00 00 00 88 8F'
'87 88 88 80 88 88 88 8F 87 88 88 44 00 04 88 8F'
'87 88 88 00 00 00 88 8F 87 88 88 00 00 00 88 8F'
'87 88 88 00 00 04 88 8F 87 88 88 00 10 00 88 8F'
'87 88 88 00 00 40 88 8F 87 88 88 A0 82 02 88 8F'
'87 88 88 00 00 00 88 8F 87 88 88 08 00 22 88 8F'
'87 88 88 00 00 00 88 8F 87 88 88 00 00 00 88 8F'
'87 88 88 00 00 00 88 8F 87 88 88 00 00 00 88 8F'
'87 88 88 00 00 00 FF FF 8F FF FF 00 00 00 88 88'
'88 88 88 00 00 00'

END


bmp_StatusLine BITMAP 
BEGIN
'42 4D F6 02 00 00 00 00 00 00 76 00 00 00 28 00'
'00 00 40 00 00 00 14 00 00 00 01 00 04 00 00 00'
'00 00 80 02 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
'00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
'00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
'00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
'00 00 FF FF FF 00 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 87 77 77 77 77 77 77 77 77 77'
'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
'77 77 77 77 77 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 87 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 F8 8F FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF F8 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 88 88'
'88 88 88 88 88 88'

END

#include "strings.rc"
