STRINGTABLE 
BEGIN
	sth_FileNew, "Help on New"
	sth_FileOpen, "Help on Open"
	sth_FileSave, "Help on Save"
	sth_FileSaveAs, "Help on SaveAs"
	sth_FilePrint, "Help on Print"
	sth_FileExit, "Help on Exit"
	sth_File, "Help on File"
	sth_EditUndo, "Help on Undo"
	sth_EditCut, "Help on Cut"
	sth_EditCopy, "Help on Copy"
	sth_EditPaste, "Help on Paste"
	sth_EditClear, "Help on Clear"
	sth_EditDelete, "Help on Delete"
	sth_Edit, "Help on Edit"
	sth_ViewAll, "Help on View All"
	sth_ViewSome, "Help on View Some"
	sth_ViewBy, "Help on View By"
	sth_View, "Help on View"
	ste_InvalidGraphFileMsg, "This is not a graphics file."
	ste_InvalidGraphFileTitle, "Invalid Graphics File"
	ste_InvalidScribbleFileMsg, "This is not a scribble file."
	ste_InvalidScribbleFileTitle, "Invalid Scribble File"
	sth_OptionsDirectory, "Help on Directories"
	sth_OptionsEnvironment, "Help on Environment"
	sth_OptionsOpen, "Help on Options Open"
	sth_OptionsSave, "Help on Options Save"
	sth_OptionsSaveAs, "Help on Options Save As"
	sth_Option, "Help on Option"
	sth_EnvironmentPreferences, "Help on Preferences"
	sth_EnvironmentMouse, "Help on Mouse"
	sth_WindowTile, "Help on Window Tile"
	sth_WindowCascade, "Help on Window Cascade"
	sth_WindowArrange, "Help on Window Arrange"
	sth_WindowIcon, "Help on Window Icon"
	sth_WindowCloseAll, "Help on Window CloseAll"
	sth_Window, "Help on Window"
	sth_HelpIndex, "Help on Index"
	sth_HelpTopic, "Help on Topic"
	sth_HelpSearch, "Help on Search"
	sth_HelpGlossary, "Help on Glossary"
	sth_HelpUsing, "Help on Using Help"
	sth_HelpAbout, "Help on About "
	sth_Help, "Help on Help"
END
